<div layout-fill ng-class="className">
    <h2>Filter & Query</h2>

    <div layout="column" layout-margin layout-padding>
        <md-input-container>
            <label>Group By</label>
            <md-select placeholder="Group By" ng-model="filters.groupBy.selected">
                <md-option ng-value="group" ng-repeat="group in filters.groupBy.values">{{group}}</md-option>
            </md-select>
        </md-input-container>
    </div>

    <div flex layout="row" layout-fill ng-if="dbValues" layout-padding layout-margin>
        <fieldset flex>
            <legend >Filter by Stream</legend>
            <div layout="row" layout-wrap flex>
                <div flex-xs flex="50">
                    <md-checkbox aria-label="Select All"
                        ng-checked="isChecked(filters.stream)"
                        md-indeterminate="isIndeterminate(filters.stream)"
                        ng-click="toggleAll(filters.stream)">
                        <span ng-if="isChecked(filters.stream)">Un-</span>Select All
                    </md-checkbox>
                </div>
                <div class="checkboxes-container" flex="100" ng-repeat="item in filters.stream.items">
                    <md-checkbox
                        ng-checked="exists(item, filters.stream.selected)"
                        ng-click="toggle(item, filters.stream.selected)">
                        {{ item }}
                    </md-checkbox>
                </div>
            </div>
        </fieldset>

        <fieldset flex>
            <legend >Filter by Browser</legend>
            <div layout="row" layout-wrap flex>
                <div flex-xs flex="50">
                    <md-checkbox aria-label="Select All"
                        ng-checked="isChecked(filters.browser)"
                        md-indeterminate="isIndeterminate(filters.browser)"
                        ng-click="toggleAll(filters.browser)">
                        <span ng-if="isChecked(filters.browser)">Un-</span>Select All
                    </md-checkbox>
                </div>
                <div class="checkboxes-container" flex="100" ng-repeat="item in filters.browser.items">
                    <md-checkbox
                        ng-checked="exists(item, filters.browser.selected)"
                        ng-click="toggle(item, filters.browser.selected)">
                        {{ item }}
                    </md-checkbox>
                </div>
            </div>
        </fieldset>

        <fieldset flex>
            <legend >Filter by ISP</legend>
            <div layout="row" layout-wrap flex>
                <div flex-xs flex="50">
                    <md-checkbox aria-label="Select All"
                        ng-checked="isChecked(filters.isp)"
                        md-indeterminate="isIndeterminate(filters.isp)"
                        ng-click="toggleAll(filters.isp)">
                        <span ng-if="isChecked(filters.isp)">Un-</span>Select All
                    </md-checkbox>
                </div>
                <div class="checkboxes-container" flex="100" ng-repeat="item in filters.isp.items">
                    <md-checkbox
                        ng-checked="exists(item, filters.isp.selected)"
                        ng-click="toggle(item, filters.isp.selected)">
                        {{ item }}
                    </md-checkbox>
                </div>
            </div>
        </fieldset>
    </div>

    <div layout="column" layout-margin layout-padding>
        <md-input-container>
            <md-button class="md-raised md-primary" ng-click="query()">Query</md-button>
        </md-input-container>
    </div>

    <div ng-if="dataReady" layout>
        <canvas id="bar" class="chart chart-bar"
          chart-data="data" chart-labels="labels" chart-series="series">
        </canvas>
    </div>
</div>
