<section layout="row" flex ng-class="className">
    <md-content layout="column" layout-fill layout-padding>
        <h1>Streamroot Datamining - Analysing poor performances</h1>
        
        <md-whiteframe class="md-whiteframe-z2 content" flex layout-margin>
            <connection layout-fill reload="reload"></connection>
        </md-whiteframe>

        <md-whiteframe ng-if="$root.influxReady" class="md-whiteframe-z2 content" flex layout-margin>
            <dataminer layout-fill></dataminer>
        </md-whiteframe>
    </md-content>
</section>
