<div layout-fill>
    <h2>Connect to 
        <small>
            {{influxdb.protocol}}://{{influxdb.host}}:{{influxdb.port}}/
        </small>
    </h2>
    <div layout flex layout-margin>
        <form name="influxdbForm" flex>
            <div layout="row" flex>
                <md-input-container class="md-block" flex>
                    <label>InfluxDB Protocol</label>
                    <input ng-model="influxdb.protocol">
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>InfluxDB Host</label>
                    <input ng-model="influxdb.host">
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>InfluxDB Port</label>
                    <input ng-model="influxdb.port">
                </md-input-container>
            </div>

            <div layout="row" flex>
                <md-input-container class="md-block" flex>
                    <label>InfluxDB Database</label>
                    <input ng-model="influxdb.database">
                </md-input-container>
                <div layout-margin>
                    <md-button class="md-raised md-primary" ng-click="connect()">
                        Go!
                    </md-button>
                </div>
            </div>
        </form>
    </div>
</div>
