<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <!-- <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'> -->
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body ng-app="streamroot" layout layout-fill>
        <app flex layout></app>
    </body>
</html>
